[Unit]
Description=zcoms team component
After=network-online.target zcoms-daemon.service
Wants=zcoms-daemon.service

[Service]
Type=simple
ExecStart=%h/.local/bin/zcoms-team
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
